{% extends "smart/base.html" %}

{% block content %}


<div class="row">
{% for location,val in locations.items %}
                    {% for channel in val %}
     <div id ="rcorners2" class="card rounded col-md-3">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://image.flaticon.com/icons/svg/1654/1654007.svg" class="img-fluid" width="100px" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2 ">
                    <h4 class="card-title text-center">{{ channel.name }}</h4>
                    <p class="card-text text-center">{{ location.name }}</p>
{#                    <a href="#" class="btn btn-primary">BUTTON</a>#}
                    {% if channel.type == 'InputOutput' %}
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
{#                      <label class="custom-control-label button" for="customSwitch1"></label>#}
                        <button type="button" class="btn btn-block btn-outline-dark">Off</button>
                    </div>
                        {% else %}
                    <p class="card-text text-center">{{ channel.status }}</p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
                {% endfor %}
    {% endfor %}
</div>

{% endblock content %}